---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<!--
{% if site.author.googlescholar %}
   <div class="wordwrap">You can find my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
-->

<!--
<h2>Publications</h2>
-->

<p><strong>Note:</strong> All publications are authored under my professional name, <strong>H. H. Esmat</strong>.</p>

<h3>Journal Papers</h3>
<!-- <ol> .......  </ol> -->
<ul>
  <li><strong>H. H. Esmat</strong>, X. Liu, B. Lorenzo, and J. Liu, “Outage-Aware Multi-Domain Network Slicing for Satellite-Airborne-Terrestrial Networks with Multiple Configurations,” <em>IEEE Transactions on Wireless Communications</em>, 2025, doi: 10.1109/TWC.2025.3584980.</li>

  <li><strong>H. H. Esmat</strong>, and B. Lorenzo, “Federated Network Slicing in Multi-domain, Multi-technology, and Multi-provider Networks,” <em>IEEE/ACM Transactions on Networking</em>, second-round review, July 2025.</li>

  <li>S. Yang, X. Xia, <strong>H. H. Esmat</strong>, and B. Lorenzo, “Joint Optimization of Caching, Routing, and Resource Allocation in an SDN-Based SATIN for Intelligent Transportation Systems,” to <em>IEEE Transactions on Intelligent Transportation Systems</em>, Nov. 2025.</li>

  <li>X. Xia, <strong>H. H. Esmat</strong>, B. Lorenzo, and D. Goeckel, “Pricing-Based Collaborative UAV Swarm with Dynamic Jamming for Covert Communication in Heterogeneous Networks,” submitted to <em>IEEE/ACM Transactions on Networking</em>, Oct. 2025.</li>

  <li>X. Xia, <strong>H. H. Esmat</strong>, B. Lorenzo, and D. Goeckel, “Robust Covert Communications in UAV Swarm-Assisted Heterogeneous IoT Networks,” submitted to <em>IEEE JSAC</em>, June 2025.</li>

  <li><strong>H. H. Esmat</strong>, B. Lorenzo, and D. Goeckel, “Multi-RAT Network Slicing for Heterogeneous MEC-Enabled IoT,” <em>IEEE Network</em>, 2025.</li>

  <li>X. Liu, <strong>H. H. Esmat</strong>, B. Lorenzo, and D. Goeckel, “Covert Communications in Cognitive Mobile Edge Computing Networks using Power Modification,” <em>IEEE Transactions on Wireless Communications</em>, 2025.</li>

  <li><strong>H. H. Esmat</strong>, X. Xia, Y. Wu, B. Lorenzo, and L. Guo, “Cross-Technology Federated Matching for Age of Information Minimization in Heterogeneous IoT,” <em>IEEE/ACM Transactions on Networking</em>, 2024, doi: 10.1109/TNET.2024.3436712.</li>

  <li><strong>H. H. Esmat</strong> and B. Lorenzo, “SLA Decomposition for Sustainable End-to-End Multi-domain Multi-Technology Network Slicing,” <em>IEEE Wireless Communications</em>, 2024.</li>

  <li><strong>H. H. Esmat</strong> and B. Lorenzo, “Self-Learning Multi-Mode Slicing Mechanism for Dynamic Network Architectures,” <em>IEEE/ACM Transactions on Networking</em>, 2024.</li>

  <li><strong>H. H. Esmat</strong>, B. Lorenzo, and W. Shi, “Toward Resilient Network Slicing for Satellite–Terrestrial Edge Computing IoT,” <em>IEEE Internet of Things Journal</em>, vol. 10, no. 16, pp. 14621–14645, Aug. 2023.</li>

  <li>M. M. Abdelhakam, M. M. Elmesalawy, M. K. Elhattab, and <strong>H. H. Esmat</strong>, “Energy-efficient BBU pool virtualisation for CRAN with QoS guarantees,” <em>IET Communications</em>, vol. 14, no. 1, pp. 11–20, 2020.</li>

  <li><strong>H. H. Esmat</strong>, M. M. Elmesalawy, and I. I. Ibrahim, “Uplink resource allocation and power control for D2D communications underlaying multi-cell mobile networks,” <em>AEU-Int. J. of Electronics and Communications</em>, vol. 93, pp. 163–171, 2018.</li>

  <li><strong>H. H. Esmat</strong>, M. M. Elmesalawy, M. M. Abdelhakam, and M. K. Elhattab, “Resource Allocation and Power Control Based on Nash Bargaining Solution for H-CRAN with Non-ideal Fronthaul Link,” <em>Trans. on Emerging Telecommunications Technologies</em>, 2018.</li>

  <li>M. K. Elhattab, M. M. Elmesalawy, T. Ismail, <strong>H. H. Esmat</strong>, et al., “A Matching Game for Device Association and Resource Allocation in Heterogeneous Cloud RANs,” <em>IEEE Communications Letters</em>, vol. 22, no. 8, 2018.</li>

  <li><strong>H. H. Esmat</strong>, M. M. Elmesalawy, and I. I. Ibrahim, “Joint channel selection and optimal power allocation for multi-cell D2D communications underlaying cellular networks,” <em>IET Communications</em>, vol. 11, no. 5, pp. 746–755, 2017.</li>

  <li><strong>H. H. Esmat</strong>, M. M. Elmesalawy, and I. I. Ibrahim, “Adaptive Resource Sharing Algorithm for D2D Communications Underlaying Cellular Networks,” <em>IEEE Communications Letters</em>, vol. 20, no. 3, pp. 530–533, 2016.</li>
</ul>

<h3>Conference Papers</h3>
<ul>
  <li><strong>Haitham H. Esmat</strong>, “Performance Evaluation of Network Slicing in Multi-Domain, Multi-Technology Wireless Networks,” Accepted <em>SIGMETRICS Performance Evaluation Review</em>, December 2025.</li>
  <li><strong>Haitham H. Esmat</strong>, B. Lorenzo, and S. Glisic, “A Network Design Framework for Classical-to-Quantum Evolution,” <em>IEEE QCE 2025</em>, Albuquerque, USA.</li>
  <li>X. Xia, <strong>H. H. Esmat</strong>, B. Lorenzo, and D. Goeckel, “UAV-Enabled Covert Cross-Technology Communication in Heterogeneous IoT Networks,” <em>IEEE VTC 2024</em>, Washington DC, USA.</li>
  <li>X. Xia, <strong>H. H. Esmat</strong>, K. Dyer, B. Lorenzo, L. Guo, “Cross-Domain Federated Computation Offloading for AoI Minimization in SAT–Airborne–Terrestrial Networks,” <em>IEEE PIMRC 2023</em>, Toronto, Canada.</li>
  <li><strong>H. H. Esmat</strong>, B. Lorenzo, and J. Liu, “LEONS: Multi-Domain Network Slicing Configuration and Orchestration for Satellite–Terrestrial Edge Computing Networks,” <em>IEEE ICC 2023</em>, Rome, Italy.</li>
  <li><strong>H. H. Esmat</strong>, X. Xia, B. Lorenzo, and L. Guo, “Multi-Protocol Aware Federated Matching for Architecture Design in Heterogeneous IoT,” <em>IEEE GLOBECOM 2022</em>, Brazil.</li>
  <li>V. C. Ferreira, <strong>H. H. Esmat</strong>, B. Lorenzo, S. Kundu and FF MG, “Reinforcement Learning-based Multi-Attribute Slice Admission Control,” <em>IEEE VTC-Spring 2022</em>.</li>
  <li><strong>H. H. Esmat</strong> and B. Lorenzo, “Deep Reinforcement Learning-based Dynamic Edge/Fog Network Slicing,” <em>IEEE GLOBECOM 2020</em>.</li>
</ul>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



